<?xml version="1.0" encoding="utf-8"?>

<plugin
    id="com.outsystems.plugins.custominappbrowser"
    version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>Custom InAppBrowser</name>

    <description>
        Custom InAppBrowser plugin for OutSystems Developer Cloud
    </description>

    <author>OutSystems Custom Plugin</author>

    <js-module
        name="OSCustomInAppBrowser"
        src="www/plugin.js">

        <clobbers target="cordova.plugins.OSCustomInAppBrowser" />

    </js-module>


    <platform name="android">

        <config-file
            parent="/*"
            target="res/xml/config.xml">

            <feature name="OSCustomInAppBrowser">

                <param
                    name="android-package"
                    value="com.outsystems.plugins.custominappbrowser.OSCustomInAppBrowser" />

            </feature>

        </config-file>


        <source-file
            src="src/android/OSCustomInAppBrowser.kt"
            target-dir="app/src/main/kotlin/com/outsystems/plugins/custominappbrowser" />

    </platform>

</plugin>
